.tabs {
    display: flex;
    gap: 32px;
    align-items: center;
}

.tabItem {
    position: relative;

    &.active {
        >h4 {
            color: var(--text-color);
        }

        &::before {
            opacity: 1;
        }
    }

    &:before {
        content: '';
        width: 100%;
        display: block;
        position: absolute;
        bottom: -8px;
        height: 2px;
        background-color: var(--dark-color);
        transition: opacity .1s;
        opacity: 0;
    }
}