.wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 160px;
    padding: 10px 24px;
    border-radius: 104px;
    transition: background-color .1s ease-in;

    &:hover {
        background-color: var(--dropdown-item-hover);
    }
}

.text::first-letter {
    text-transform: uppercase;
}