.wrapper {
    background: var(--blue-color);
    border-radius: 16px;
    padding: 16px 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .3s ease-in;
    transition-property: bottom, opacity;

    &.hide {
        opacity: 0;
        bottom: -24px;
        pointer-events: none;
    }

    &.show {
        opacity: 1;
        bottom: 24px;

        .circle>circle {
            animation: draw 3s linear;
        }
    }

    >p {
        color: var(--white-color);
    }
}

.icon {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: relative;

    >svg:last-of-type {
        width: 6px;
        height: 6px;

        >path {
            fill: var(--white-color);
        }
    }
}

.circle {
    position: absolute;

    >circle {
        stroke-dasharray: 57;
        stroke-dashoffset: 57;
        transform: rotate(90deg) scaleX(-1);
        transform-origin: center;
    }
}

@keyframes draw {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 57;
    }

    100% {
        stroke-dashoffset: 57;
        stroke-dasharray: 57;
    }
}