body {
    --white-color: #fff;
    --dark-color: #0B1B23;
    --main-bg-color: #F0F2F3;
    --blue-color: #0BA1D8;
    --active-color: #61BAD8;
    --text-color: var(--dark-color);
    --text-grey-color: rgba(11, 27, 35, 0.6);
    --heart-like-color: #FF6661;
    --category-icon-color: rgba(5, 25, 44, 0.6);
    --complete-color: #6CBB95;
    --dropdown-item-hover: rgba(240, 242, 243, 0.5);

    --font-family: 'Heebo', sans-serif;
}