.content {
    display: flex;
    margin: 24px 0;
    gap: 32px;
}

.leftSide,
.rightSide {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.leftSide {
    width: calc(67.6% - 16px);
}

.rightSide {
    width: calc(32.4% - 16px);
}