.filled {
    svg>path {
        fill: var(--heart-like-color);
        stroke: var(--heart-like-color);
    }

    &:hover svg>path {
        fill: var(--heart-like-color);
        stroke: var(--heart-like-color);
    }
}