.header {
    padding: 32px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    backdrop-filter: blur(2px);
    border-top-left-radius: 32px;
    transition: .1s ease-in;
    transition-property: background-color, padding, backdrop-filter, border-radius;
    position: relative;
    z-index: 5;

    &.scrolled {
        background-color: rgba(240, 242, 243, 0.85);
        backdrop-filter: blur(8px);
        border-top-left-radius: 0;
        padding: 24px 56px;
    }
}

.buttons {
    display: flex;
    gap: 16px;
}