.wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

.number {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid #D8DDE0;
}