.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 56px;
    height: 56px;
    display: grid;
    place-items: center;

    >svg {
        width: 46px;
        height: 46px;

        >path {
            fill: var(--text-grey-color);
        }
    }
}
