.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.charities {
    padding: 16px 24px 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #D8DDE0;
}