.wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.tag {
    width: fit-content;
    padding: 8px 16px;
    background: #F0F2F3;
    border-radius: 64px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    svg>path {
        transition: stroke .15s;
    }

    &:hover {
        svg>path {
            stroke: var(--blue-color);
        }
    }
}

.categoryIcon>svg>path {
    stroke-opacity: 1;
    stroke: var(--white-color);
}

.tooltip {
    width: 100%;
    max-width: 336px;
    top: calc(100% + 4px);
    left: 0;
    position: absolute;
    padding: 16px;
    background-color: var(--dark-color);
    border-radius: 12px;
    flex-direction: column;

    >p {
        color: rgba(255, 255, 255, 0.8);
    }
}

.tooltip,
.tooltipTitle {
    display: flex;
    gap: 8px;
}

.tooltipTitle {
    align-items: center;

    >p {
        color: var(--white-color);
    }
}